$themes: (
  default: (
    body-bg: #fafafa,
    header-color: #407de1,
    subheader-color: #fff,
    text-color: #565656,
    font-family: 'Open Sans'
  ),

  light: (
    color: orange
  ),

  dark: (
    color: yellow
  ),
);
