$primary-black: #000;
$primary-white: #fff;
$primary-red: #d04e50;

/*Default Theme Variables*/

$body-bg: #fafafa;
$header-color: #407de1;
$subheader-color: #fff;
$text-color: #565656;
$font-family: 'Open Sans';
