<div>
  <div *ngIf="term.logicalOperator && term.index !== 0">
    <button (click)="toggleOperator()">{{term.logicalOperator.operator}}</button>
  </div>
  <div>
    {{term.tag.TagName}}
  </div>

  <div>
    {{term.operator.operator}}
  </div>

  <div>
    {{term.value.Value}}
  </div>
  <div>
    <button class="btn btn-default" (click)="onEditClick()"><i class="material-icons">mode_edit</i></button>
    <button class="btn btn-default" (click)="onDeleteClick()"><i class="material-icons">close</i></button>
  </div>
</div>
