<div id="matrix-sidebar" class="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand" onclick="closeNav();"></li>
    <li>
      <a href="#"><i class="flaticon-technology" aria-hidden="true"></i> Device Configuration</a>
    </li>
    <li>
      <a href="#"><i class="flaticon-settings-gears" aria-hidden="true"></i> System Configuration</a>
    </li>
    <li>
      <a href="#"><i class="flaticon-profile" aria-hidden="true"></i> User Configuration</a>
    </li>
  </ul>
</div>

