<!--<h1>SIDE_BAR!</h1>-->
<!--<div id="matrix-sidebar" class="sidebar-wrapper">-->
  <!--<ul class="sidebar-nav">-->
    <!--<li class="sidebar-brand" onclick="closeNav();"></li>-->
    <!--<li>-->
      <!--<a routerLink="/search" routerLinkActive="active"><i class="flaticon-technology" aria-hidden="true"></i> Device Configuration</a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a routerLink="/device-list" routerLinkActive="active"><i class="flaticon-settings-gears" aria-hidden="true"></i> System Configuration</a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a routerLink="/heroes" routerLinkActive="active"><i class="flaticon-profile" aria-hidden="true"></i> User Configuration</a>-->
    <!--</li>-->
  <!--</ul>-->
<!--</div>-->

