<div class="container">
  <form id="searchForm">
    <div class="search-box row">
      <div class="col-md-4">
        <div class="form-group">
          <kendo-combobox class="form-control" name="tags" tabindex="1"
                          [data]="filteredTagList"
                          [filterable]="true"
                          [textField]="'tagName'"
                          [valueField]="'tagID'"
                          [(ngModel)]="searchData.tag"
                          (valueChange)="onTagChange($event)"
                          (filterChange)="handleTagFilter($event)"
                          required>
          </kendo-combobox>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <kendo-combobox class="form-control" name="operators" tabindex="2"
                          [data]="filteredOperatorsList"
                          [filterable]="true"
                          [textField]="'operator'"
                          [valueField]="'id'"
                          [(ngModel)]="searchData.operator"
                          [disabled]="!searchData.tag"
                          (filterChange)="handleOperatorFilter($event)"
                          required>
          </kendo-combobox>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <kendo-combobox class="form-control" name="tagValue" tabindex="3"
                          [data]="filteredTagValueList"
                          [filterable]="true"
                          [(ngModel)]="searchData.value"
                          (valueChange)="onTagValueChange()"
                          (filterChange)="handleTagValueFilter($event)"
                          [disabled]="!searchData.operator"
                          required>
          </kendo-combobox>
        </div>
      </div>


    </div>
    <div *ngIf="isEdit">
      <button class="btn btn-default" [disabled]="isDoneValid()" (click)="onDoneClick()"><i
        class="material-icons">done</i></button>
      <button class="btn btn-default" (click)="onCloseClick()"><i
        class="material-icons">close</i></button>
    </div>
  </form>
</div>
