<div>
  <div>

  </div>

  <div>
    <app-search-query-builder
      [tags]="tags"
      [operators]="operators"
      [searchTerm]="searchTerm"
      [isEdit]="isEdit"
      (getSearchTerm)="getSearchTerm($event)"
      (updateSearchTerm)="updateSearchTerm($event)">
    </app-search-query-builder>

    <div>
      <div *ngFor="let term of searchTerms">
        <app-search-term
          [term]="term"
          (editSearchTerm)="editSearchTerm($event)">
        </app-search-term>
      </div>
    </div>

  </div>

  <div>
    <div class="search-btn">
      <a (click)="onSearchClick()"><i class="material-icons">search</i></a>
    </div>
  </div>

</div>

