<!--<div class="search-box">-->
  <!--<div class="close-btn">-->
    <!--<a (click)="onCloseClick()"><i class="material-icons">close</i></a>-->
  <!--</div>-->
  <!--<div>-->
    <!--<kendo-combobox-->
      <!--[data]="tags"-->
      <!--[textField]="'TagName'"-->
      <!--[valueField]="'TagID'"-->
      <!--[(ngModel)]="selectedTag"-->
      <!--(valueChange)="onTagChange($event)"-->
    <!--&gt;</kendo-combobox>-->
  <!--</div>-->

  <!--<div>-->
    <!--<kendo-combobox-->
      <!--[data]="filterArray"-->
      <!--[textField]="'operator'"-->
      <!--[valueField]="'id'"-->
      <!--[(ngModel)]="filter"-->
    <!--&gt;</kendo-combobox>-->
  <!--</div>-->

  <!--<div>-->
    <!--<kendo-combobox-->
      <!--[data]="tagValues"-->
      <!--[textField]="'Value'"-->
      <!--[valueField]="'id'"-->
      <!--[(ngModel)]="selectedTagValue"-->
    <!--&gt;</kendo-combobox>-->

  <!--</div>-->

  <!--<div *ngIf="showConditionButton">-->
    <!--<button (click)="toggleButtonState()">{{conditionOperatorString}}</button>-->
  <!--</div>-->

  <!--<div *ngIf="selectedTagValue">-->
    <!--<a (click)="onAddNewTermClick()"><i class="material-icons">add</i></a>-->
  <!--</div>-->
<!--</div>-->
