<header>
  <nav class="navbar navbar-fixed navbar-style">
    <div class="nav-toggle nav-toggle-btn" onclick="openNav();"><i class="flaticon-menu-1"></i></div>
    <a class="navbar-brand" href="#">
      <h1>MATRIX24x7</h1>
      <h3>Configurator</h3>
    </a>

    <ul class="nav navbar-nav pull-xs-right user-menu">
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="flaticon-sound"></i><div class="mbadge">7</div></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="flaticon-menu"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link profile-image circle" href="#"></a>
      </li>
    </ul>
  </nav>
</header>


